body { margin: 0;}
#wrap {
    padding: 0 40px;
    max-width: 1100px;
    margin: 0 auto;
}
.container {
    width: 400px; 
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.title {
    width: 100px;
    font-weight: 900;
    text-align: center;
}
.box {
    width: 250px;

}
.content {
    height: 150px;
    resize: none;
}
.btn_submit {
    margin: 10px auto;
}
/* ------------------------------------------------------------------- */

table {width: 100%;}
thead > tr,
tfoot > tr {
    background: rgb(255, 160, 116);
    color: white;
}
table input {
    width: 70px;
}