body { 
    margin: 0; 
    background-color: #b5d6f7;
}

form {
    width: 400px;
    background-color: #f0f0f0;
    margin: 200px auto;
    padding: 10px;
    padding-top: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 2px rgb(167, 167, 167);
}
.title {
    height: 30px;
}
.content {
    width: 250px;
    display: flex;
    align-items: center;
    height: 50px;

}
.content2 {
    align-items: start;
}

.content > input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px dashed;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
}
.warning {
    font-size: 12px;
}

table{
    padding-bottom: 30px;
}

.btn_submit {
    width: 100%;
    height: 50px;
    background: rgb(178, 255, 168);
    color: rgb(79, 114, 79);
    border: none;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 10px;
}
